<%= render 'dashboard/dashbord_hero'%>

<div class="coach_dashboard flex flex-row justify-center px-12 flex-wrap gap-10">
    <div class="general_card w-72">
        <%= link_to athlete_profiles_path(level: 0) do %>
                                <p class="mb-0 font-sans font-semibold leading-normal text-sm">Development Group</p>
                                <h5 class="mb-0 font-bold">
                                    <% beginner_athletes = AthleteProfile.where(level: 0).count %>
                                    <%= beginner_athletes %>
                                    <span class="leading-normal text-sm font-weight-bolder text-lime-500"></span>
                                </h5>
                              <% end %>
    </div>
    <div class="general_card w-72">
    <%= link_to athlete_profiles_path(level: 1) do %>
                                <p class="mb-0 font-sans font-semibold leading-normal text-sm">Intermediate Group</p>
                                <h5 class="mb-0 font-bold">
                                    <% intermediate_athletes = AthleteProfile.where(level: 1).count %>
                                    <%= intermediate_athletes%>
                                    <span class="leading-normal text-red-600 text-sm font-weight-bolder"></span>
                                </h5>
                            <%end%>
    </div>
    <div class="general_card w-72">
     <%= link_to athlete_profiles_path(level: 2) do %>
                                <p class="mb-0 font-sans font-semibold leading-normal text-sm">Advanced Group</p>
                                <h5 class="mb-0 font-bold">
                                    <% advanced_athletes = AthleteProfile.where(level: 2).count %>
                                    <%= advanced_athletes%>
                                    <span class="leading-normal text-red-600 text-sm font-weight-bolder"></span>
                                </h5>
                            <%end%>
    </div>

    <button type="submit" id="send" onclick="sendEmail()">Send Email</button>
</div>


<script>

const sendEmail = () => {
    const email = document.getElementById('send').value;

    // post to send_email

    fetch('/send_email_test', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            email: email
        })
    })

    .then((response) => response.json())
    .then((data) => {
        console.log('Success:', data);
    })

    .catch((error) => {
        console.error('Error:', error);
    });

}

    
</script>
