            <div data-controller="mobile-menu" class="flex flex-col flex-wrap align-center gap-4">
              <a class="dashboard_logo block md:hidden" href="/"></a>
              <button 
                data-action="click->mobile-menu#toggle"
                class="hamburger-button mt-8 mx-4 absolute top-4 right-4 z-50 focus:outline-none"
              >
                <div class="w-8 h-1 bg-gray-800 rounded-full transition-all duration-300 mb-2" 
                     data-mobile-menu-target="bar1"></div>
                <div class="w-8 h-1 bg-gray-800 rounded-full transition-all duration-300 mb-2" 
                     data-mobile-menu-target="bar2"></div>
                <div class="w-8 h-1 bg-gray-800 rounded-full transition-all duration-300" 
                     data-mobile-menu-target="bar3"></div>
              </button>

              <!-- Fullscreen Menu -->
              <div 
                data-mobile-menu-target="menu"
                class="absolute inset-0 bg-white z-40 transform translate-x-full transition-transform duration-300 ease-in-out flex flex-col p-8 bg-gradient-to-b from-blue-50 via-blue-100 to-gray-50"
              >
                <!-- Menu Content -->
                <div class="flex-1 overflow-y-auto pt-12">
                  <div class="mobile-nav-items flex flex-col gap-6">
                    <% if current_user.role == 'admin' %>
                      <a class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600" href="/">
                        <span class="material-symbols-outlined text-2xl">home</span> 
                        <span class="text-lg font-medium">Dashboard</span>
                      </a>
                      <a href="/accounts/all_accounts" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <span class="material-symbols-outlined text-2xl">manage_accounts</span>
                        <span class="text-lg font-medium">All Users</span>
                      </a>
                      <a href="/subscriptions" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600 hidden">
                        <span class="material-symbols-outlined text-2xl">wallet</span>
                        <span class="text-lg font-medium">Subscriptions</span>
                      </a>
                      <a href="/kpis" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <span class="material-symbols-outlined text-2xl">data_exploration</span>
                        <span class="text-lg font-medium">Kpis</span>
                      </a>
                      <a href="/questionnaires/reports" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <span class="material-symbols-outlined text-2xl">description</span>
                        <span class="text-lg font-medium">Reports</span>
                      </a>
                      <a href="/taster_session_bookings" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <span class="material-symbols-outlined text-2xl">sprint</span>
                        <span class="text-lg font-medium">Taster bookings</span>
                      </a>
                      <a href="/dcpa_events" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <span class="material-symbols-outlined text-2xl">event</span>
                        <span class="text-lg font-medium">Events</span>
                      </a>
                    <% elsif current_user.role == 'coach' %>
                      <a class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600" href="/">
                        <span class="material-symbols-outlined text-2xl">home</span>
                        <span class="text-lg font-medium">Dashboard</span>
                      </a>
                      <a href="/accounts/all_accounts" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <span class="material-symbols-outlined text-2xl">manage_accounts</span>
                        <span class="text-lg font-medium">All Users</span>
                      </a>
                      <a href="/users/<%= current_user.id %>" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <%= image_tag(current_user.avatar_thumbnail, class: "h-8 w-8 object-cover rounded-full") %>
                        <span class="text-lg font-medium">My Profile</span>
                      </a>
                    <% elsif current_user.role == 'parent_user' %>
                      <a class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600" href="/">
                        <span class="material-symbols-outlined text-2xl">home</span>
                        <span class="text-lg font-medium">Home</span>
                      </a>
                      <a href="/accounts" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <span class="material-symbols-outlined text-2xl">supervised_user_circle</span>
                        <span class="text-lg font-medium">Child Profile</span>
                      </a>
                      <a href="#" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600 hidden">
                        <span class="material-symbols-outlined text-2xl">credit_card</span>
                        <span class="text-lg font-medium">Subscription</span>
                      </a>
                      <a href="/users/<%= current_user.id %>" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <%= image_tag(current_user.avatar_thumbnail, class: "h-8 w-8 object-cover rounded-full") %>
                        <span class="text-lg font-medium">My Profile</span>
                      </a>
                    <% elsif current_user.role == 'child_user' %>
                      <a class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600" href="/">
                        <span class="material-symbols-outlined text-2xl">home</span>
                        <span class="text-lg font-medium">Home</span>
                      </a>
                      <a href="/athlete_profiles/<%= current_user.athlete_profile.id %>" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <span class="material-symbols-outlined text-2xl">bar_chart</span>
                        <span class="text-lg font-medium">Progress</span>
                      </a>
                    <% elsif current_user.role == 'athlete' %>
                      <a class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600" href="/">
                        <span class="material-symbols-outlined text-2xl">home</span>
                        <span class="text-lg font-medium">Home</span>
                      </a>
                      <a href="/athlete_profiles/<%= current_user.athlete_profile.id %>" class="flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-indigo-600">
                        <span class="material-symbols-outlined text-2xl">account_circle</span>
                        <span class="text-lg font-medium">Profile</span>
                      </a>
                    <% end %>
                  </div>
                </div>

                <!-- Logout Button -->
                <div class="pt-4 border-t border-gray-100">
                  <%= button_to destroy_user_session_path, method: :delete, 
                      class: "flex gap-4 items-center p-3 rounded-lg hover:bg-gray-50 transition-colors duration-200 text-gray-800 hover:text-red-600 w-full" do %>
                    <span class="material-symbols-outlined text-2xl">logout</span>
                    <span class="text-lg font-medium">Logout</span>
                  <% end %>
                </div>
              </div>
            </div>


            <style>
              /* Add this to your stylesheet or in a style tag */
              @media (min-width: 1100px) {
                .hamburger-button,
                [data-mobile-menu-target="menu"] {
                  display: none;
                }
              }
            </style>