<div class="hidden lg:flex fixed min-h-screen w-64 flex flex-col pt-12 pb-24 gap-4 px-6 bg-gradient-to-b from-blue-100 via-blue-200 to-gray-100 shadow-lg z-10" id="sidebar">
    <a class="md_dashboard_logo  mb-6" href="/">
    <%= image_tag('cfs-dark.png', class:'h-auto w-12') %>
    </a>
    <a href="/" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            dashboard
        </span>
        Dashboard
    </a>

    <!-- ADMIN USER ITEMS -->
    <% if current_user.role == 'admin' %>
    <a href="/accounts/all_accounts" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            manage_accounts
        </span>
        Accounts
    </a>

    <a href="/subscriptions" class="flex gap-2 nav_item hidden">
        <span class="material-symbols-outlined">
            wallet
        </span>
        Subscriptions
    </a>
    <a href="/kpis" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            data_exploration
        </span>
        KPI's
    </a>
    <a href="/coach_calendar" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            calendar_month
        </span>
        Calendars
    </a>

    <a href="/time_slots" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            work_history
        </span>
        Time Slots
    </a>


    <a href="/questionnaires/reports" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            description
        </span>
        Reports
    </a>
    <a href="/taster_session_bookings" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            sprint
        </span>
        Taster Sessions
    </a>

    <a href="/dcpa_events" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">event</span>
        <span>Events</span>
    </a>

    <!-- COACH USER ITEMS -->
    <% elsif current_user.role =='coach' %>
    <a href="/accounts/all_accounts" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            manage_accounts
        </span>
        Accounts
    </a>

    <a href="/coach_calendar" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            calendar_month
        </span>
        Calendar
    </a>

    <!-- PARENT USER ITEMS -->
    <% elsif current_user.role == 'parent_user' %>

    <a href="#" class="flex gap-2 nav_item hidden">
        <span class="material-symbols-outlined">
            credit_card
        </span>
        Subscription
    </a>
    <!-- CHILD USER ITEMS -->
    <%elsif current_user.role == 'child_user'%>
    <% if !current_user.athlete_profile.nil?%>
    <a href="/athlete_profiles/<%=current_user.athlete_profile.id%>" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            bar_chart
        </span>
        Progress
    </a>

    <%end%>
    <a href="/users/<%=current_user.id%>" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            face
        </span>
        Profile
    </a>
    <!-- ATHLETE USER ITEMS -->
    <%elsif current_user.role == 'athlete'%>
    <a href="/athlete_profiles/<%=current_user.athlete_profile.id%>" class="flex gap-2 nav_item">
        <span class="material-symbols-outlined">
            account_circle
        </span>
        Profile
    </a>
    <%else%>
    <%end%>
    <div class="sidebar-footer p-4 border-t border-gray-700 mt-auto">
        <%
=begin%>
 <%= link_to(users_path) do %>
            <div class="user-profile flex items-center gap-3 mb-4 p-2 rounded-lg">
                <%= image_tag(current_user.avatar_thumbnail, class:"w-8 h-8 mb-3 rounded-full shadow-lg object-cover")%>
                <div class="user-info">
                    <div class="user-name text-sm font-medium"><%= current_user.full_name %></div>
                    <div class="user-role text-xs text-gray-400 capitalize"><%= current_user.role %></div>
                </div>
            </div>
        <% end %> 
<%
=end%>
        <div  class="flex gap-2 nav_item mt-auto">
                <span class="material-symbols-outlined">
                logout
                </span>
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "" %>
            </div>
    </div>

</div>