<script defer>
    function onDocumentReady(callback) {
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', callback);
        } else {
            callback();
        }
    }
    onDocumentReady(function() {
        const toggleLinks = document.querySelectorAll('.toggle-link');
        const toggleSections = document.querySelectorAll('.toggle-section');

        toggleLinks.forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();

                const targetId = link.getAttribute('href').substring(1);

                toggleSections.forEach(section => {
                    if (section.id === targetId) {
                        section.style.display = 'flex';
                        section.style.flexDirection = 'column';
                    } else {
                        section.style.display = 'none';
                    }
                });
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        const passwordInput = document.getElementById('password');
        const passwordConfrim = document.getElementById('passwordConfrim');
        const message = document.getElementById('message');

        passwordConfirm.addEventListener("input", function() {
            if (passwordConfirm.value !== passwordInput.value) {
                passwordConfirm.classList.add('warning');
            } else {
                passwordConfirm.classList.remove('warning');
            }
        })
    });

    document.addEventListener("DOMContentLoaded", function() {
        const email = document.getElementById('email');
        const firstName = document.getElementById('firstName');
        const lastName = document.getElementById('lastName');
        const password = document.getElementById('password');
        const passwordConfirmInput = document.getElementById('passwordConfirm');
        const nextBtn = document.getElementById('next');
        const dobInput = document.getElementById('dob');

        // Function to calculate age
        function calculateAge(dob) {
            const dobValue = new Date(dob);
            const today = new Date();
            const age = today.getFullYear() - dobValue.getFullYear();
            return age;
        }

        // Function to check if the user is under 18 and show an alert
        function checkAge() {
            const dobValue = dobInput.value;
            const age = dobValue ? calculateAge(dobValue) : 0;

            if (age < 18) {
                alert('You must be at least 18 years old to proceed.');
            }
        }

        // Function to check if any fields are empty and enable/disable the next button
        function checkFields() {
            const dobValue = dobInput.value;
            const age = dobValue ? calculateAge(dobValue) : 0;

            if (
                email.value.trim() !== '' &&
                firstName.value.trim() !== '' &&
                lastName.value.trim() !== '' &&
                password.value.trim() !== '' &&
                passwordConfirmInput.value.trim() !== '' &&
                age >= 18
            ) {
                // Enable the next button
                nextBtn.removeAttribute('disabled');
            } else {
                // Disable the next button
                nextBtn.setAttribute('disabled', 'true');
            }
        }

        // Use the 'change' event instead of 'input' for better control
        email.addEventListener('change', checkFields);
        firstName.addEventListener('change', checkFields);
        lastName.addEventListener('change', checkFields);
        password.addEventListener('change', checkFields);
        passwordConfirmInput.addEventListener('change', checkFields);

        dobInput.addEventListener('input', function() {
            checkFields();
            checkAge();
        });

        // Call checkFields once to initialize the button visibility
        checkFields();
    });



    function handleClick(element) {
        // Remove active class from all links
        var links = document.querySelectorAll('.toggle-link');
        links.forEach(function(link) {
            link.classList.remove('active', 'text-blue-600', 'border-blue-600', 'dark:text-blue-500', 'dark:border-blue-500');
            console.log(link.classList);
        });

        // Apply active class to the clicked link
        element.classList.add('active', 'text-blue-600', 'border-blue-600', 'dark:text-blue-500', 'dark:border-blue-500');
    }
</script>
<% @links =  ["Step1", "Step2"] %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
<main class="sign-up-form">
    <section id="<%=@links.first.downcase%>" class="toggle-section bg-slate-50 dark:bg-transparent dark:bg-gradient-to-tl dark:from-gray-900 dark:to-slate-800 shadow-soft-xl rounded-2xl bg-clip-border " style="display:flex;">
        <input type="hidden" id="user-id" value="user.id" class="here">
        <article class=" p-10 flex flex-col justify-between rounded-xl text-gray-500 xl:col-span-2 transform duration-500 hover:-translate-y-1 cursor-pointer dark:text-gray-100">
            <div>
                <h2 class="mt-2 text-2xl font-light text-gray-500  dark:text-gray-100 leading-snug  min-h-10 text-center"> Personal Information</h2>
                <p class="my-2 font-light text-center">create an account</p>
            </div>
            <div class="mb-5 text-center" data-controller="avatar">
                <div class="mx-auto w-28 h-28 mb-2 border rounded-full relative bg-gray-100 mb-4 shadow-inset">
                    <div data-loading-indicator-target="loadingIndicator" class="loading-indicator hidden">
                        <div role="status">
                            <svg aria-hidden="true" class="w-8 h-8 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor" />
                                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill" />
                            </svg>
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="panzoom-container absolute inset-0 overflow-hidden rounded-full">
                        <img id="image" class="w-full h-full object-cover" 
                            src="/assets/user.png" 
                            alt="Avatar Preview" 
                            data-avatar-target="image">
                        </div>
                </div>
                <label for="avatarInput" type="button" class="cursor-pointer inline-flex justify-between items-center focus:outline-none border py-2 px-4 rounded-lg shadow-sm text-left text-gray-600 bg-white hover:bg-gray-100 font-medium">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-flex flex-shrink-0 w-6 h-6 -mt-1 mr-1" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="0" y="0" width="24" height="24" stroke="none"></rect>
                        <path d="M5 7h1a2 2 0 0 0 2 -2a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1a2 2 0 0 0 2 2h1a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9a2 2 0 0 1 2 -2"></path>
                        <circle cx="12" cy="13" r="3"></circle>
                    </svg>
                    Browse Photo
                </label>
                <div class="mx-auto w-48 text-gray-500 text-xs text-center mt-1">Click to add profile picture</div>
                <%= form.file_field :avatar, class: "hidden", id: "avatarInput", data: { avatar_target: "input" } %>
            </div>
            <div class="form-fields">
                <div>
                    <label for="email" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Email</label>
                    <%= form.email_field :email,id:"email", placeholder:"email@example.com", class:"m-2 rounded bg-gray-50 border text-gray-900  block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", autocomplete:"off" %>
                </div>
                <div>
                    <label for="username" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Username</label>
                    <%= form.text_field :username,id:"username", placeholder:"Nathan10", class:"m-2 rounded bg-gray-50 border text-gray-900  block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", autocomplete:"off" %>
                </div>
            </div>
            <div class="form-fields">
                <div class="">
                    <label for="first_name" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">First Name</label>
                    <%= form.text_field :first_name,id:"firstName", placeholder: "John", class: "m-2 rounded bg-gray-50 border text-gray-900  block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", autocomplete:"off" %>
                </div>
                <div class="">
                    <label for="last_name" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Last Name</label>
                    <%= form.text_field :last_name,id:"lastName", placeholder: "Smith", class: "m-2 rounded bg-gray-50 border text-gray-900  block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", autocomplete:"off" %>
                </div>
            </div>
            <div class="form-fields">
                <div class="">
                    <label for="password" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Password</label>
                    <%= form.password_field :password,id:"password", placeholder: "******", class: "m-2 rounded bg-gray-50 border text-gray-900  block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", autocomplete:"off" %>
                </div>
                <div class="">
                    <label for="confrim_password" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Confirm Password</label>
                    <%=form.password_field :password_confirmation,id:"passwordConfirm" , placeholder:"******", class:"m-2 rounded bg-gray-50 border text-gray-900  block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", autocomplete:"off" %>
                </div>
            </div>
            <div>
                <a href="/users/sign_in" class="inline mr-3 pb-1 border-b-2 border-blue-200 hover:border-blue-700 m-2 text-sm font-medium text-gray-400 hover:text-blue-300 dark:text-white">I already have an account.</a>
            </div>
            <div class="mt-8 flex justify-between inset-x-0 bottom-0">
                <a href="#<%=@links.first.downcase%>" onclick="handleClick(this)" class="toggle-link no-visibility">
                    <span class="p-3  border-2 border-gray-200 rounded-md text-base hover:bg-gray-200 hover:border-gray-200 cursor-pointer hover:text-black ">
                        Back
                    </span>
                </a>
                <a href="#<%=@links.second.downcase%>" id="next" onclick="handleClick(this)" class="toggle-link">
                    <span class="p-3 px-12 border-2 border-gray-200 rounded-md text-base hover:bg-gray-200 hover:border-gray-200 cursor-pointer hover:text-black ">
                        Next
                    </span>
                </a>
            </div>
        </article>
    </section>
    <section id="<%=@links.second.downcase%>" class="toggle-section bg-slate-50 dark:bg-transparent dark:bg-gradient-to-tl dark:from-gray-900 dark:to-slate-800 shadow-soft-xl rounded-2xl bg-clip-border ">
        <article class=" p-10 flex flex-col h-screen justify-between rounded-xl text-gray-500 xl:col-span-2 transform duration-500 hover:-translate-y-1 cursor-pointer dark:text-gray-100">
            <div class=" mt-2 mb-10">
                <h2 class="mt-5 mb-24 text-2xl font-light text-gray-500  dark:text-gray-100 leading-snug  min-h-10 text-center"> Personal Information</h2>
                <div class="flex flex-col">
                    <div class="mx-1">
                        <label for="phone" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Phone</label>
                        <%= form.text_field :phone,id:"user-phone", placeholder: "+44 ", class: "m-2 rounded bg-gray-50 border text-gray-900  block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
                    </div>
                    <div class="mx-1" data-controller="address-autocomplete"
                    data-address-autocomplete-api-key-value="<%= ENV['GOOGLE_API_KEY'] %>"
                    >
                        <label for="address" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Address</label>
                        <%= form.text_field :address,
                        id: "user-address",
                        placeholder: "61 Meridian Wy., London N9 0AR, United Kingdom",
                        class: "m-2 rounded bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white",
                        data: { 
                            "address-autocomplete-target": "input",
                            "action": "place_changed->address-autocomplete#placeSelected",
                        }, autocomplete: "off" %>
                    </div>
                </div>
                <div class="mx-2 mt-10">
                    <label for="email" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">I' am</label>
                    <div class="flex m-2">
                        <label class="flex justify-start items-center text-truncate rounded-lg bg-white pl-4 pr-6 py-3 shadow-sm mr-4">
                            <div class="text-teal-600 mr-3">
                                <%= form.radio_button :role, 'parent_user', id: "parent_role", class:"form-radio focus:outline-none focus:shadow-outline" %>
                            </div>
                            <div class="select-none text-gray-700">a Parent of an Athlete(s)</div>
                        </label>
                        <label class="flex justify-start items-center text-truncate rounded-lg bg-white pl-4 pr-6 py-3 shadow-sm">
                            <div class="text-teal-600 mr-3">
                                <%= form.radio_button :role, 'athlete', id: "athlete_role", class:"form-radio focus:outline-none focus:shadow-outline" %>
                                <%= form.radio_button :role, nil, id: "no_role", class:"hidden" %>
                            </div>
                            <div class="select-none text-gray-700">an Athlete</div>
                        </label>
                    </div>
                    <div class="flex  flex-col mt-2">
                        <label class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Date of Birth</label>
                        <%=form.date_field :dob , id:'dob' ,value:"2018-12-31" ,class:"m-2 rounded bg-gray-50 border text-gray-900  block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
                    </div>
                </div>
            </div>
            <div class="flex justify-between">
                <a href="#<%=@links.first.downcase%>" onclick="handleClick(this)" class="toggle-link" style="margin-top:15px;">
                    <span class="p-3 px-12 border-2 border-gray-200 rounded-md text-base hover:bg-gray-200 hover:border-gray-200 cursor-pointer hover:text-black ">
                        Back
                    </span>
                </a>
                <%= form.submit "Save", class: "confirm-btn" %>
            </div>
        </article>
    </section>
</main>
<%end%>