<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">

  <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center mb-6 gap-4">
    <div class="flex items-center gap-4">
      <%= render 'components/back_button' %>
      <h1 class="text-2xl font-bold text-gray-800">Errors</h1>
    </div>
  </div>

  <div data-errors-target="table" class=" overflow-x-auto max-h-96 border rounded shadow">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-50 sticky top-0">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Time
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            Type
          </th>
          <th scope="col" class="relative px-6 py-3">
            <span class="sr-only">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @errors.each do |error| %>
          <tr class="hover:bg-gray-50 transition-colors">
            <!-- Time Column -->
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-900">
                <%= error.occurred_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </div>
            </td>
            
            <!-- Type Column -->
            <td class="px-6 py-4 whitespace-nowrap">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full 
                <%= error.error_type == 'warning' ? 'bg-yellow-100 text-yellow-800' : 'bg-red-100 text-red-800' %>">
                <%= error.error_type.humanize %>
              </span>
            </td>
            
            <!-- Actions Column -->
            <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
              <div class="flex justify-end items-center space-x-3">
                <%= link_to app_error_path(error), class: "text-blue-600 hover:text-blue-900", title: "View Details" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                  </svg>
                <% end %>

              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
