<div id="<%= dom_id time_slot %>" class="flex flex-col gap-2 my-10 rounded-2xl shadow-soft-lg p-4">
  <p>
    <strong>Date:</strong>
    <%= time_slot.date.strftime("%d/%m/%Y") %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= time_slot.title %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= time_slot.start_time.strftime("%H:%M") %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= time_slot.end_time.strftime("%H:%M") %>
  </p>

  <p>
    <strong>Group type:</strong>

 <%= time_slot.group_type_list %> 
  </p>

  <p>
    <strong>Coaches:</strong>
 <%= time_slot.coach_names %> 
  </p>
 <div class="mb-4">
  <div class="flex flex-row mb-4 justify-between items-center bg-gray-50 p-4 rounded-lg shadow-md">
    <div class="coach-image mb-5">
            <%= image_tag(time_slot.coach_calendar.user.avatar_thumbnail, class: "w-10 h-10 object-cover rounded-full") %>
            <div class="coach-info">
      <h3><%= time_slot.coach_calendar.user.full_name %></h3>
    </div>
    </div>
     <div>
      <%
=begin%>
 <a href="/<%= time_slot.coach_calendar.user.full_name.id %>" class="btn btn-primary">View Profile</a> 
<%
=end%>
    </div>
  </div>
</div> 
</div>
