<%
=begin%>
  All information required will be filled by the parents 
#   Driving from the form 

  
  height 
  weight 
  age 
  school name
  

  include the health issues from the form

  KPI's to PB ( personal Best )

<%
=end%>
                 
                  <%= render 'components/back_button'%>

                <div class="w-120 ">
                    <div class="py-2">
                        <h3 class="text-lg font-bold py-3">Athlete's Profile</h3>
                    </div>
                            <div class="profile-container">
                                <div>
                                <%= image_tag(@user.avatar_thumbnail, class:"w-24 h-24 object-cover rounded-full")%>
                                
                                
                                <div class="flex items-center">
                                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                    </svg>
                                    <svg class="w-4 h-4 text-yellow-300 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                    </svg>
                                    <svg class="w-4 h-4 text-gray-300 mr-1 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
                                    </svg>
                                    <p class="ml-2 text-sm font-medium text-gray-500 dark:text-gray-400">4.95</p>
                                </div>
                                </div>
                                <div>
                                    <div class="px-5 flex flex-col gap-1 w-56">
                                        <h3 class="font-bold text-xl"> <%=@user.full_name%>: </h3>
                                        <span class=""> <strong>Age :</strong><%=@user.age%></span>
                                        <span> <strong>Username:</strong> <%=@user.username%></span>
                                        <span><strong>School Name:</strong> London School of Economics</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="px-5 flex flex-col gap-1 w-56">
                                        <h3 class="font-bold text-xl"> Info: </h3>
                                        <span class="font-bold "> <%=@user.full_name%> </span>
                                        <span class=""> <strong>Height :</strong><%=@user.height%></span>
                                        <span> <strong>Weight:</strong> <%=@user.weight%></span>
                                        <span> <strong>Power Of ten:</strong> <%=@user.power_of_ten%></span>
                                        <span class=""> <strong>Level:</strong> <%=@user.level%> </span>
                                    </div>
                                </div>
                                <div>
                                    <div class="px-5 flex flex-col gap-1 w-56">
                                        <h3 class="font-bold text-xl"> PB: </h3>
                                        <span class=""> <strong>60m:</strong></span>
                                        <span class=""> <strong>100m :</strong></span>
                                        <span> <strong>200m:</strong></span>
                                        <span> <strong>VJ:</strong></span>
                                        <span> <strong>HJ:</strong></span>
                                    </div>
                                </div>
                            </div>
                </div>

