<div>
    <%= image_tag(@user.avatar_thumbnail, class:"w-24 h-24 object-cover rounded-full")%>
    <div class="flex flex-row">
        <input type="file" name="user[avatar]" id="user_avatar" class="hidden" onchange="document.getElementById('user_avatar_form').submit();">
        <label for="user_avatar" class="cursor-pointer text-sm text-gray-600 hover:text-gray-800">
            <span class="material-symbols-outlined">
            camera
            </span>
        </label>
    </div>
</div>

    <div class="flex flex-col w-12">
        <%= @user.full_name%>
        <%= @user.email%>
        <%= @user.phone%>
        <%= @user.address%>
    </div>