<%= form_with(model: @qr_code, url: qrcodes_path, method: :post, local: true) do |form| %>
<div class="form">
  <div class="mb-4">
    <%= form.label :user_id, class: "block text-sm font-medium text-gray-600" %>
    <%= form.number_field :user_id, class: "mt-1 p-2 w-full border rounded-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :data, class: "block text-sm font-medium text-gray-600" %>
    <%= form.text_field :data, class: "mt-1 p-2 w-full border rounded-md", placeholder: "Enter QR code data" %>
  </div>

  <div class="mb-4">
    <%= form.label :scanned, class: "block text-sm font-medium text-gray-600" %>
    <%= form.check_box :scanned, class: "mt-1" %>
  </div>

  <div class="mb-4">
    <%= form.submit "Generate QR Code", class: "px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-200" %>
  </div>
</div>
<% end %>
