<% if current_user.role == 'admin' && !@levels.nil? %>
  <div class="">
                        <h3 class="text-lg font-bold py-3">Create KPI's</h3>
                        <a onclick="addChildModal();" class=" flex flex-row mx-auto gap-2">
                            <span class="material-symbols-outlined">
                            add_circle
                            </span>
                            <span> Add a new KPI</span>
                        </a>
                    </div>
  <div class="relative overflow-x-auto">
    <div id="accordion" data-accordion="collapse">
      <% @levels.each do |level| %>
        <div class="mb-4">
          <div class="border-b">
            <div class="flex items-center justify-between p-5 cursor-pointer border rounded-t-xl" data-accordion-target="#accordion-body-<%= level.id %>" aria-expanded="true" aria-controls="accordion-body-<%= level.id %>">
              <h3 class="font-medium whitespace-nowrap text-2xl"><%= level.title %></h3>
            </div>
          </div>
          <div id="accordion-body-<%= level.id %>" class="px-5 border border-b-0 rounded-b-xl">
            <div  class="mb-2">
              <span class="text-lg">List of KPI's</span>
            </div>
              <div class="flex items-center mb-4">
              <ul>
            <% level.check_lists.each do |checklist| %>
                <li><%= checklist.title %></li>
            <% end %>
              </ul>
              </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
