<div id="<%= dom_id athlete_level %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= athlete_level.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= athlete_level.position %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= athlete_level.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Min age:</strong>
    <%= athlete_level.min_age %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Max age:</strong>
    <%= athlete_level.max_age %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Color:</strong>
    <%= athlete_level.color %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= athlete_level.active %>
  </p>
</div>
