<style>
  .span-alert{font-size:12px;}
.form_title{font-size:2rem;font-weight:bold;margin-top:10px;}
</style>
  <h1 class="form_title">Athlete registration form</h1 >
<form id="questionnaire-form" class="flex flex-col gap-10 my-10">
  <% @questions.each do |q| %>
    <div class="relative overflow-x-auto general_card">
      <span><strong><%= q.position %>.</strong> <%= q.content %> </span>
      <div class="pt-4" id="answers-<%= q.id %>">
        <% case  q.question_type %>
        <%when 'multiple'%>
         <% q.options.each do |option| %>
              <span id="empty-content-<%= q.id %>" class="text-red-500 hidden span-alert">field required</span>
              <div class="flex items-center mb-4">
                <input id="<%= q.id %>" type="checkbox" value="<%= option %>" name="<%= q.id %>" class="w-4 h-4 border-gray-300 mr-2">
                <label for="<%= q.id %>" class="ms-2 text-sm font-medium"><%= option %></label>
                  <input type="hidden" name="user_id" value="<%=current_user.id%>" />
              </div>
          <%end%>
        <%when'radio'%>
              <% q.options.each do |option| %>
              <span id="empty-content-<%= q.id %>" class="text-red-500 hidden span-alert">field required</span>
              <div class="flex items-center mb-4">
                <input id="<%= q.id %>" type="radio" value="<%= option %>" name="<%= q.id %>" class="w-4 h-4 border-gray-300 mr-2">
                <label for="<%= q.id %>" class="ms-2 text-sm font-medium"><%= option %></label>
                <input type="hidden" name="user_id" value="<%=current_user.id%>" />
              </div>
          <%end%>
          <div class="hidden">
              <% if q.id < 11 %>
              <label class="ms-2 text-sm font-medium"> please outline below. </label>
               <textarea class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"> </textarea>
              <%end%>
          </div>
        <%when 'text'%>
              <div>
                <textarea type="text" name="<%= q.id %>" id="<%= q.id %>" rows="4" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Write your title here..."></textarea>
                <span id="empty-content-<%= q.id %>" class="hidden text-red-500 hidden span-alert">field required</span>
              </div>
        <%end%>
      </div>
    </div>
  <% end %>
  <div class="flex flex-row">
  <button type="button" class="btn" onclick="createAnswer()">Confirm</button>
  <a href="/" class="btnSecondary"> Return </a>
  </div>

</form>


<script>
function createAnswer() {
  var answers = [];
  var contentEmpty = false;

  <% @questions.each do |q| %>
    var questionId = <%= q.id %>;
    var content;

    // Check if the question is a radio type
    if ("<%= q.question_type %>" === "radio") {
      var selectedOption = document.querySelector('input[name="' + questionId + '"]:checked');
      content = selectedOption ? selectedOption.value : null;
    } else {
      // For textarea type questions
      content = document.getElementById('<%= q.id %>').value.trim(); // Trim removes leading and trailing whitespaces
    }

    var userId = <%= params[:user_id] %>;

    // Check if content is empty
    if (!content) {
      contentEmpty = true;
      // Show the hidden span for the current question
      document.querySelector('#empty-content-' + questionId).classList.remove('hidden');
    } else {
      // Hide the span if content is not empty
      document.querySelector('#empty-content-' + questionId).classList.add('hidden');
    }

    // Push the answer to the array
    answers.push({ question_id: questionId, content: content, user_id: userId });
  <% end %>

  if (contentEmpty) {
    // Stop further execution if any content is empty
    return;
  }

  // Send a POST request to your server
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/answers', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.onreadystatechange = function () {
    if (xhr.readyState == 4) {
      if (xhr.status == 200) {
        Swal.fire({
          icon: 'success',
          title: 'Success!',
          text: 'Thank you!',
          showConfirmButton: true,
          confirmButtonText: "OK"
        }).then((result) => {
          console.log("xhr, data", xhr.body)
          console.log("result here====>,",result)
          if (result.isConfirmed) {
            window.location.href = '/';
          }
        });
      } else {
        Swal.fire({
      icon: "error",
      title: "Oops...",
      text: "Something went wrong!",
    });
      }
    }
  };

  xhr.send(JSON.stringify({ answers: answers }));
}



</script>

