<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<main class="sign-up-form " style="height:100dvh;overfow:hidden;">
   <section id="" class="toggle-section bg-slate-50 dark:bg-transparent dark:bg-gradient-to-tl dark:from-gray-900 dark:to-slate-800 shadow-soft-xl rounded-2xl bg-clip-border " style="display:flex;">
      <input type="hidden" id="user-id" value="user.id" class="here">
      <article class="form-container p-10 flex flex-col justify-between rounded-xl text-gray-500 xl:col-span-2 transform duration-500 hover:-translate-y-1 cursor-pointer dark:text-gray-100">
         <div>
            <%=image_tag ("cfs-light.png"), class:"h-24 w-auto mx-auto" %>
            <h2 class="mt-2 text-2xl font-light text-gray-500  dark:text-gray-100 leading-snug  min-h-10 text-center"> Login Information</h2>
            <p class="my-2 font-light text-center">Welcome Back</p>
         </div>
         <div class="mt-2 ">
            <div>
               <label for="email" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Email or Username</label>    
               <%= f.text_field :username,id:"email", placeholder:"email@example.com", class:"m-2 rounded bg-gray-50 border text-gray-900  block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
            </div>
            <turbo-frame id="password-visibility-frame">
            <div class="">
               <label for="password" class="block m-2 text-sm font-medium text-gray-500 dark:text-white">Password</label>
               <div class="relative">
                  <%= f.password_field :password, id: "password", placeholder: "******", class: "m-2 rounded bg-gray-50 border text-gray-900 block flex-1 min-w-0 w-full text-sm border-gray-300 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", data: { controller: "password-visibility" } %>
                  <div class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer eye-icon" data-action="click->password-visibility#toggleVisibility">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4 w-4 text-gray-500 dark:text-white">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 17.121a9 9 0 01-12.677-12.677M2 12a10 10 0 0120 0m-7-2a2 2 0 11-4 0 2 2 0 014 0z"/>
                     </svg>
                  </div>
               </div>
            </div>
            </turbo-frame id="password-frame"> 
            <div class="remember">
               <% if devise_mapping.rememberable? %>
               <div class="flex items-center px-3 rounded-2xl">
                  <%= f.check_box :remember_me , class:"w-4 h-4 text-red-600 bg-gray-100 border-gray-300 rounded focus:ring-red-600 dark:focus:ring-red-700 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" %>
                  <%= f.label :remember_me , class:"block m-2 text-sm font-medium text-gray-500 dark:text-white" %>
               </div>
               <div>
                  <a href="/users/sign_up" class="inline mr-3 pb-1 border-b-2 border-blue-200 hover:border-blue-700 m-2 text-sm font-medium text-gray-400 hover:text-blue-300 dark:text-white"> I don't have an account ?</a>
               </div>
               <% end %>
            </div>
         </div>
         <div class="mt-16 flex justify-between inset-x-0 bottom-0">
            <a href="" onclick="handleClick(this)" class="toggle-link no-visibility">
            <span class="p-3  border-2 border-gray-200 rounded-md text-base hover:bg-gray-200 hover:border-gray-200 cursor-pointer hover:text-black ">
            Back
            </span>
            </a>
            <%= f.submit "Log in", class:"mb-12 p-3 px-8 border-2 border-gray-200 rounded-md text-base hover:bg-gray-200 hover:border-gray-200 cursor-pointer hover:text-black " %>
         </div>
      </article>
   </section>
</main>
<%end%>