<turbo-frame id="checkbox-frame-<%= level.id %>" 
             data-controller="checklist" 
             data-checklist-user-id-value="<%= @athlete.user_id %>">
    <% list = level.check_lists %>
    <% if current_user.role != 'admin' && current_user.role != 'coach' %>
    <% level.check_lists.each do |checklist| %>
    <div class="flex items-center mb-4">
        <div class="tooltip">
            <input <%= checklist.checked_user_item(@athlete.user_id) %>   data-checklist-id="<%= checklist.id %>"
          data-action="click->checklist#handleCheckboxClick"
          data-checklist-target="checkbox"
 type="checkbox" value="" class="w-4 h-4" disabled>
            <label for="checklist-<%= checklist.id %>" class="ml-2 text-sm font-medium"><%= checklist.title %></label>
            <span class="tooltiptext">Checked when approved !</span>
        </div>
    </div>
    <% end %>
    <% else %>
    <% level.check_lists.each do |checklist| %>
    <div class="flex items-center mb-4">
        <input <%= checklist.checked_user_item(@athlete.user_id) %>   data-checklist-id="<%= checklist.id %>"
          data-action="click->checklist#handleCheckboxClick"
          data-checklist-target="checkbox"
 type="checkbox" value="" class="w-4 h-4">
        <label for="checklist-<%= checklist.id %>" class="ml-2 text-sm font-medium"><%= checklist.title %></label>
    </div>
    <% end %>
    <div id="reviews_<%= level.id %>">
    <%= render 'athlete_profiles/reviews/review', level: level, athlete: @athlete %>
    </div>
    <%=render 'athlete_profiles/reviews/form', status: @status , level:level, athlete: @athlete %>
    <% end %>
</turbo-frame>