<style>
  .active {
    color: blue;
  }
  .swal2-confirm{
    background-color:#AC312C;
  }
</style>

<!-- Degree Selection -->
<ul class="flex flex-wrap text-sm font-medium text-center border-b border-gray-200">
  <!-- 'All' option link -->
  <%
=begin%>
 <li class="me-2">
    <%= link_to athlete_profile_path(@athlete, degree: nil), class: "inline-block p-4 #{'active' if params[:degree].nil?} rounded-t-lg" do %>
      All
    <% end %>
  </li> 
<%
=end%>

  <!-- Dynamically generate degree links -->
  <% @levels.degrees.each do |degree| %>
    <li class="me-2">
      <%= link_to athlete_profile_path(@athlete, degree: degree[0], step: 1), class: "inline-block p-4 #{'active' if params[:degree] == degree[0]} rounded-t-lg" do %>
        <%= degree[0].capitalize %>
      <% end %>
    </li>
  <% end %>
</ul>

<!-- Step Selection Based on Degree -->
<% if params[:degree].present? %>
  <div class="flex border-b border-gray-200  flex-wrap gap-4 mt-4">
    <% (1..5).each do |step| %> <!-- Assuming steps range from 1 to 5 -->
      <%= link_to athlete_profile_path(@athlete, degree: params[:degree], step: step), class: "inline-block p-4 #{'active' if params[:step].to_i == step} rounded-t-lg" do %>
        Level <%= step %>
      <% end %>
    <% end %>
  </div>
<% end %>
