<%
=begin%>
 <%= render 'shared/sweet_alert_flash_messages' %>  
<%
=end%>
<section class="container mt-24">
<%= render partial: "search/js_form" , locals: {results:[]} %>
  <%= form_for @athlete do |form| %>
      <section>
        <div class=" bg-gray-100 dark:bg-gray-900 dark:text-white text-gray-600"></div>
        <div style="display:flex;flex-direction:row;align-items:center;padding:50px;flex-wrap:wrap;gap:5px;">
            <a href="/athlete_profiles" class="mx-5">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 white dark:white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 9l-3 3m0 0l3 3m-3-3h7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </a>
            <h1 class="font-bold text-3xl">Create a new Athlete Profile</h1>
        </div>
      </section>
      <section>
        <div class="container w-form p-5 mt-5">
        <div class="row mb-5">
            <div class="col-md-2 p-2">
              <label class=" text-gray-900 dark:text-white">First name</label>
              <%= form.text_field :first_name, placeholder: "e.g. Dwain", class: "block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" , required: true %>          
              </div> 
              <div class="col-md-2 p-2">
              <label class=" text-gray-900 dark:text-white">Last name</label>
              <%= form.text_field :last_name, placeholder: "e.g. Chambers", class: "block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" , required: true %>          
              </div> 
            <div class="col-md-2 p-2">
              <label class=" text-gray-900 dark:text-white">Email</label>
              <%= form.email_field :email, placeholder:"email@example.com", class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
            </div>
            <div class="col-md-2 p-2">
              <label class=" text-gray-900 dark:text-white">Phone</label>
              <%= form.text_field :phone, placeholder:"+44", class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"%>
            </div>
            <div class="col-md-2 p-2">
              <label class=" text-gray-900 dark:text-white">Upload A Image</label>
              <%= form.file_field :image, class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2">
              <label class=" text-gray-900 dark:text-white">Date of birth</label>
              <%= form.date_field :dob,  class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
            <div class="col-md-2">
              <label class=" text-gray-900 dark:text-white">Height</label>
              <%= form.text_field :height ,placeholder: "5'10''", id:"height", class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
            <div class="col-md-2">
              <label class=" text-gray-900 dark:text-white">Weight</label>
              <%= form.text_field :weight ,placeholder:"80 lbs",  class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
            <div class="col-md-2">
              <label class=" text-gray-900 dark:text-white">Power of 10</label>
              <%= form.text_field :power_of_ten , class:"block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
            <div class="col-md-2">
              <label class=" text-gray-900 dark:text-white">Level</label>
              <%= select_tag :level, options_for_select(AthleteProfile.levels.map { |key, value| [AthleteProfile.human_attribute_name("level.#{key}"), value] }, @athlete.level.to_i), class: 'block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6' %>
            </div>
             <div class="col-md-2">
              <label class=" text-gray-900 dark:text-white">Assign an Athlete (optional)</label>
             <%= form.collection_select :user_id, User.all, :id, :full_name, { prompt: "Choose a User" }, { class: "block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" } %>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 p-2">
              <label class=" text-gray-900 dark:text-white">Home Address</label>
                <%= form.text_field :address, class:"description block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder:"e.g. 61 Meridian Wy." %>
            </div>
            <div class="col-md-3 p-2">
              <label class=" text-gray-900 dark:text-white">City</label>
              <%= form.text_field :city , class:" description block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" , placeholder:"e.g. London" %>
            </div>
            <div class="col-md-3 p-2">
              <label class=" text-gray-900 dark:text-white">School Name</label>
              <%= form.text_field :school_name ,placeholder:"e.g. King's College School.", class:" description block w-full rounded-md border-0 py-1.5 pl-3 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
            <div class="col-md-3 mt-5 text-end">
              <%= form.submit "Save", class: "confirm-btn bg-gradient-to-r from-red-500 to-red-800 text-white font-bold py-3 px-4 rounded", style: "transition: background-color 0.3s;" %>
              <a href="/athletes" class=" cancel-btn bg-gradient-to-b from-gray-900 to-gray-600 bg-gradient-to-r text-white font-bold py-3 px-4 rounded">Cancel</a>
            </div>
        </div>
      </section>
  <%end%>

</section>

<script>
  function displaySweetAlert(type, message) {
    var iconMapping = {
      alert: "warning",
      notice: "info",
      success: "success",
      error: "error"
    };

    Swal.fire({
      icon: iconMapping[type],
      title: type.charAt(0).toUpperCase() + type.slice(1), // Title in title case
      html: message,
      showConfirmButton: false,
      timer: 3000
    });
  }
  console.log("function")
</script>


<% flash.each do |type, message| %>
  <script>
    console.log("Loaded");
    displaySweetAlert("<%= type.to_s %>", "<%= message.html_safe %>");
  </script>
<% end %>
