                  <%= render 'components/back_button'%>

                <div class="w-120 ">
                    <div class="py-2">
                        <h3 class="text-lg font-bold py-3">Athlete's Profile</h3>
                    </div>
                            <div class="profile-container">
                                <div>
                                <%= image_tag(@athlete.user.avatar_thumbnail, class:"w-24 h-24 object-cover rounded-full")%>
                                <% if @athlete.user.answers.any?(&:has_health_issue)%>
                                    <span class="material-symbols-outlined text-red-500 animate-ping">
                                        local_hospital
                                    </span>
                                <%end%>
                                <span class="<%=@athlete.user.level%> ml-3 text-xs font-medium me-2 px-2.5 py-0.5 rounded">
                                    <%=@athlete.user.level%>
                                </span>
                               <%= render 'athlete_profiles/player_score'%>
                                </div>
                                <div>
                                    <div class="px-5 flex flex-col gap-1 w-48">
                                        <h3 class="font-bold text-xl"> <%=@athlete.user.full_name%>: </h3>
                                        <span class=""> <strong>Age :</strong><%=@athlete.user.age%></span>
                                        <span> <strong>Username:</strong> <%=@athlete.user.username%></span>
                                        <span><strong>School Name:</strong> London School of Economics</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="px-5 flex flex-col gap-1 w-48">
                                        <h3 class="font-bold text-xl"> Info: </h3>
                                        <span class="font-bold "> <%=@athlete.user.full_name%> </span>
                                        <span class=""> <strong>Height :</strong><%=@athlete.height%></span>
                                        <span> <strong>Weight:</strong> <%=@athlete.weight%></span>
                                        <span> <strong>Power Of ten:</strong> <%=@athlete.power_of_ten%></span>
                                        <span class=""> <strong>Level:</strong> <%=@athlete.level%> </span>
                                    </div>
                                </div>
                                <div>
                                    <div class="px-5 flex flex-col gap-1 w-56">
                                        <h3 class="font-bold text-xl"> PB's: </h3>
                                        <span class=""> <strong>60m:</strong></span>
                                        <span class=""> <strong>100m :</strong></span>
                                        <span> <strong>200m:</strong></span>
                                        <span> <strong>VJ:</strong></span>
                                        <span> <strong>HJ:</strong></span>
                                    </div>
                                </div>
                            </div>
                </div>

<%= render 'athlete_profiles/athlete_data'%>