<style>
.progress {
  height: 20px;
  width: 100%;
  background-color: #c0c0c0;
  border-radius: 4px;
  margin-bottom: 20px;
}

.progress-bar {
  height: 100%;
  text-align: center;
  line-height: 20px;
  color: green;
  background-color: #007bff;
}

</style>
                  <%= render 'components/back_button'%>

                <div class="w-120 ">
                    <div class="py-2">
                        <h3 class="text-md py-3">Athlete's Profile</h3>
                    </div>
                            <div class="profile-container">
                                <div class="w-24">
                                <%= image_tag(@athlete.user.avatar_thumbnail, class:"w-24 h-24 object-cover rounded-full")%>
                                <% if @athlete.user.answers.any?(&:has_health_issue)%>
                                    <span class="material-symbols-outlined text-red-500 animate-ping">
                                        local_hospital
                                    </span>
                                <%end%>
                                <span class="<%=@athlete.user.level%> ml-3 text-xs font-medium me-2 px-2.5 py-0.5 rounded">
                                    <%=@athlete.user.level%>
                                </span>
                               <%= render 'athlete_profiles/player_score'%>
                                </div>
                                    <div class="px-5 flex flex-col gap-1 w-48">
                                        <span class="font-bold text-lg"> Contact Info: </span>
                                        <span class=""> <%=@athlete.user.full_name%> </span>
                                        <span > <strong class=" text-sm">Age :</strong class=" text-sm" ><%=@athlete.user.age%></span>
                                        <span> <strong class=" text-sm">Username:</strong class=" text-sm" > <%=@athlete.user.username%></span>
                                        <span><strong class=" text-sm">School Name:</strong class=" text-sm" > <%=@athlete.school_name%></span>
                                    </div>
                                    <div class="px-5 flex flex-col gap-1 w-48">
                                        <span class="font-bold text-lg"> Info: </span>
                                        <span class=""> <strong class=" text-sm" >Height :</strong class=" text-sm" ><%=@athlete.height%>cm</span>
                                        <span> <strong class=" text-sm" >Weight:</strong class=" text-sm" > <%=@athlete.weight%>Kg</span>
                                        <span> <strong class=" text-sm" >Power Of ten:</strong class=" text-sm" > <%=@athlete.power_of_ten%></span>
                                        <span class=""> <strong class=" text-sm" >Level:</strong class=" text-sm" > <%=@athlete.level%> </span>
                                    </div>
                                    <div class="px-5 flex flex-col gap-1 w-56">
                                        <span class="font-bold text-lg"> PB's: </span>
                                        <span class=""> <strong class=" text-sm" >60m:</strong class=" text-sm" ></span>
                                        <span class=""> <strong class=" text-sm" >100m :</strong class=" text-sm" ></span>
                                        <span> <strong class=" text-sm" >200m:</strong class=" text-sm" ></span>
                                        <span> <strong class=" text-sm" >VJ:</strong class=" text-sm" ></span>
                                        <span> <strong class=" text-sm" >HJ:</strong class=" text-sm" ></span>
                                    </div>
                            </div>
                </div>
<ul>
<li> Development </li>
</ul>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= @percentage %>%;" aria-valuenow="<%= @percentage %>" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<%= render 'athlete_profiles/athlete_data'%>