<div class="container mx-auto px-8 py-8 max-w-3xl">
<!-- Header -->
        <header class="mb-8">
            <h1 class="text-2xl font-bold text-gray-800">Athletes Assessment</h1>
            <p class="text-gray-600">Track your athletes' KPIs</p>
        </header>

<!-- End Select -->
<%= form_with url: "/coaches/assessments/get-kpis", method: :post, class: "space-y-8" do |form| %>
    <div class="items-center grid grid-cols-1 md:grid-cols-4 gap-4">
    <!-- Level Dropdown -->
    <div>
      <%= form.select :degree,
          Level.degrees,
          {},
          class: "w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" %>
    </div>
  
    <!-- Categories Dropdown -->
    <div>
      <%= form.select :category,
          Level.categories,
          {},
          class: "w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" %>
    </div>
  
    <!-- Steps Dropdown -->
    <div>
      <%= form.select :step,
          Level.steps,
          {},
          class: "w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" %>
    </div>

     <!-- Submit Button -->
    <div class="">
      <%= form.submit "Get KPIs",
        class: "btn" %>
    </div>
    </div>
  
  
  <% end %>

      <%= turbo_frame_tag "levels", class:"flex flex-col mt-6" do %>
        <div class="flex flex-col items-center justify-center py-10 text-center border border-dashed border-gray-300 rounded-lg bg-gray-50 mt-6">
            <svg class="w-10 h-10 text-gray-400 mb-3" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 17v-6h6v6m2 0V9a2 2 0 00-2-2H9a2 2 0 00-2 2v8m12 0h-4m-6 0H5" />
            </svg>
            <p class="text-gray-600 font-medium">No parameters selected</p>
            <p class="text-sm text-gray-400">Choose parameters to begin tracking KPIs.</p>
        </div>
    <% end %>
  </div>