<%= form_with(model: step_exercise, class: "contents") do |form| %>
  <% if step_exercise.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(step_exercise.errors.count, "error") %> prohibited this step_exercise from being saved:</h2>

      <ul class="list-disc ml-6">
        <% step_exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :step_id %>
    <%= form.text_field :step_id, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": step_exercise.errors[:step_id].none?, "border-red-400 focus:outline-red-600": step_exercise.errors[:step_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :exercise_id %>
    <%= form.text_field :exercise_id, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": step_exercise.errors[:exercise_id].none?, "border-red-400 focus:outline-red-600": step_exercise.errors[:exercise_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :reps %>
    <%= form.number_field :reps, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": step_exercise.errors[:reps].none?, "border-red-400 focus:outline-red-600": step_exercise.errors[:reps].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :sets %>
    <%= form.number_field :sets, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": step_exercise.errors[:sets].none?, "border-red-400 focus:outline-red-600": step_exercise.errors[:sets].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :duration_seconds %>
    <%= form.number_field :duration_seconds, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": step_exercise.errors[:duration_seconds].none?, "border-red-400 focus:outline-red-600": step_exercise.errors[:duration_seconds].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :distance_meters %>
    <%= form.number_field :distance_meters, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": step_exercise.errors[:distance_meters].none?, "border-red-400 focus:outline-red-600": step_exercise.errors[:distance_meters].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
