<div id="<%= dom_id step_exercise %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Step:</strong>
    <%= step_exercise.step_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Exercise:</strong>
    <%= step_exercise.exercise_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Reps:</strong>
    <%= step_exercise.reps %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sets:</strong>
    <%= step_exercise.sets %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Duration sec:</strong>
    <%= step_exercise.duration_seconds %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Distance m:</strong>
    <%= step_exercise.distance_meters %>
  </p>
</div>
