<div id="<%= dom_id exercise %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= exercise.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= exercise.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Reps:</strong>
    <%= exercise.reps %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Sets:</strong>
    <%= exercise.sets %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Duration sec:</strong>
    <%= exercise.duration_seconds %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Distance m:</strong>
    <%= exercise.distance_meters %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Male benchmark:</strong>
    <%= exercise.male_benchmark %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Female benchmark:</strong>
    <%= exercise.female_benchmark %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= exercise.notes %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Movement patterns:</strong>
    <%= exercise.movement_patterns %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Equipment:</strong>
    <%= exercise.equipment %>
  </p>
</div>
