Some dependencies were deleted, using a subset of the resolution from the lockfile
<!DOCTYPE html>
<html lang="en" data-theme="<%= session[:theme] || 'light' %>">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="https://dcpa.chambersforsport.com/">
    <link rel="icon" type="image/png" sizes="32x32" href="https://chambersforsport.com/images/lightlogo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://dcpa.chambersforsport.com/">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <main class="bg-gray-900">
        <%= yield%>
    </main>
  </body>
</html>