
<%if current_user.role == 'admin'%>
<%=render 'components/back_button'%>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left ">
        <thead class="text-xs uppercase ">
            <tr>
                <th scope="col" class="px-6 py-3">
                    User's Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email / Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Role
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <% @accounts.each do |account|%>
                <tr class="border-b ">
                    <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap ">
                    <a href="/users/<%=account.id%>">
                        <%=account.full_name%>
                    </a>
                    </th>
                    <td class="px-6 py-4">
                        <%= account.email %> / <%= account.username %>
                    </td>
                    <td class="px-6 py-4">
                        <%= account.role%>
                    </td>
                    <td class="px-6 py-4">
                        <a class="material-symbols-outlined" href="/edit_user/<%=account.id%>">
                            edit
                        </a>
                        <turbo-frame id="user-frame">
                        <a class="material-symbols-outlined delete-user-button" data-user-id="<%= account.id %>">
                            delete
                        </a>
                        </turbo-frame>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>

<%end%>

<script>
document.addEventListener('turbo:load', () => {
  const deleteUserButtons = document.querySelectorAll('.delete-user-button');

  deleteUserButtons.forEach(button => {
    button.addEventListener('click', async (event) => {
      event.preventDefault();

      const userId = button.getAttribute('data-user-id');
      const confirmation = confirm('Are you sure you want to delete this user?');

      if (confirmation) {
        try {
          const res = await fetch(`/delete_user/${userId}`, { method: 'DELETE' });

          if (res.ok) {
            Turbo.visit(`all_accounts`, { action: 'replace' });
            Swal.fire({
              icon: 'success',
              title: 'Success!',
              text: 'User deleted successfully!',
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops!',
              text: 'User deletion failed. Please try again.',
            });
          }
        } catch (error) {
          console.error('Error during delete:', error);
          Swal.fire({
            icon: 'error',
            title: 'Oops!',
            text: 'An error occurred. Please try again later.',
          });
        }
      }
    });
  });
});


</script>