
<%if current_user.role == 'admin' || current_user.role == 'coach'%>
<%=render 'components/back_button'%>
<%= render 'accounts/add_user'%>
<%= render 'accounts/tabs'%>
<div class="relative overflow-x-auto general_card ">
    <table class="w-full text-sm text-left  p-5" style="padding:0;margin:0;">
    <div class="py-2" style="max-width:200px;">
   <input type="text" class=" w-24 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " id="userSearchInput" placeholder="Search...">
   </div>
        <thead class="text-xs uppercase table_header" >
            <tr>
                <th scope="col" class="px-6 py-3">
                    User's Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email / Username
                </th>
                <th scope="col" class="px-6 py-3">
                    Role
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <% @accounts.each do |account|%>
                <tr class="border-b border-gray-400">
                    <th scope="row" class="px-6 py-4 font-medium  whitespace-nowrap ">
                    <%if account.role == 'child_user' || account.role =='athlete'%>
                    <a href="/athlete_profiles/<%=account.athlete_profile.id%>">
                        <%=account.full_name%>
                    </a>
                    <%else%>
                    <a href="/users/<%=account.id%>">
                     <%=account.full_name%>
                     </a>
                    <%end%>
                    </th>
                    <td class="px-6 py-4">
                        <%= account.email %> / <%= account.username %>
                    </td>
                    <td class="px-6 py-4">
                        <%= account.role%>
                    </td>
                    <td class="px-6 py-4">
                        <a class="material-symbols-outlined" href="/users/edit_user/<%=account.id%>">
                            edit
                        </a>
                        <turbo-frame id="user-frame">
                        <a class="material-symbols-outlined delete-user-button" data-user-id="<%= account.id %>">
                            delete
                        </a>
                        </turbo-frame>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
            <%= will_paginate @accounts, renderer: WillPaginate::ActionView::LinkRenderer, class: "pagination" %>
</div>

<%end%>

<script>
document.addEventListener('turbo:load', () => {
  const deleteUserButtons = document.querySelectorAll('.delete-user-button');

   const searchInput = document.getElementById('userSearchInput');
  const tableRows = document.querySelectorAll('.border-b');

  // Event listener for the search input
  searchInput.addEventListener('input', () => {
    const searchTerm = searchInput.value.toLowerCase();

    tableRows.forEach(row => {
      const rowData = row.innerText.toLowerCase();

      // If the row contains the search term, display it; otherwise, hide it
      row.style.display = rowData.includes(searchTerm) ? 'table-row' : 'none';
    });
  });

  deleteUserButtons.forEach(button => {
    button.addEventListener('click', async (event) => {
      event.preventDefault();

      const userId = button.getAttribute('data-user-id');

      const confirmation = await Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
      });

      if (confirmation.isConfirmed) {
        try {
          const res = await fetch(`/delete_user/${userId}`, { method: 'DELETE' });

          if (res.ok) {
            Turbo.visit(`all_accounts`, { action: 'replace' });
            Swal.fire({
              icon: 'success',
              title: 'Success!',
              text: 'User deleted successfully!',
            });
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops!',
              text: 'User deletion failed. Please try again.',
            });
          }
        } catch (error) {
          console.error('Error during delete:', error);
          Swal.fire({
            icon: 'error',
            title: 'Oops!',
            text: 'An error occurred. Please try again later.',
          });
        }
      }
    });
  });
});



</script>